<ul id="fulllist">
    <li>
        <span>{{listitem1}}</span>
        <span data-increase="{{ listincrease1 }}" class="counter increaseOverTime">{{ listnumber1 }}</span>
    </li>
    <li>
        <span>{{listitem2}}</span>
        <span data-increase="{{ listincrease2 }}" class="counter increaseOverTime">{{ listnumber2 }}</span>
    </li>    <li>
        <span>{{listitem3}}</span>
        <span data-increase="{{ listincrease3 }}" class="counter increaseOverTime">{{ listnumber3 }}</span>
    </li>    <li>
        <span>{{listitem4}}</span>
        <span data-increase="{{ listincrease4 }}" class="counter increaseOverTime">{{ listnumber4 }}</span>
    </li>    <li>
        <span>{{listitem5}}</span>
        <span data-increase="{{ listincrease5 }}" class="counter increaseOverTime">{{ listnumber5 }}</span>
    </li>    <li>
        <span>{{listitem6}}</span>
        <span data-increase="{{ listincrease6 }}" class="counter increaseOverTime">{{ listnumber6 }}</span>
    </li>    <li>
        <span>{{listitem7}}</span>
        <span data-increase="{{ listincrease7 }}" class="counter increaseOverTime">{{ listnumber7 }}</span>
    </li>    <li>
        <span>{{listitem8}}</span>
        <span data-increase="{{ listincrease8 }}" class="counter increaseOverTime">{{ listnumber8 }}</span>
    </li>    <li>
        <span>{{listitem9}}</span>
        <span data-increase="{{ listincrease9 }}" class="counter increaseOverTime">{{ listnumber9 }}</span>
    </li>
    <li>
        <span>{{listitem10}}</span>
        <span data-increase="{{ listincrease10 }}" class="counter increaseOverTime">{{ listnumber10 }}</span>
    </li>
    <li>
        <span>{{listitem11}}</span>
        <span data-increase="{{ listincrease11 }}" class="counter increaseOverTime">{{ listnumber11 }}</span>
    </li>
    <li>
        <span>{{listitem12}}</span>
        <span data-increase="{{ listincrease12 }}" class="counter increaseOverTime">{{ listnumber12 }}</span>
    </li>
    <li>
        <span>{{listitem13}}</span>
        <span data-increase="{{ listincrease13 }}" class="counter increaseOverTime">{{ listnumber13 }}</span>
    </li>    
</ul>