<ul id="fulllist">
    <li>
        <span>{{listitem1}}</span>
        <div class="counter">{{listnumber1}}</div>
    </li>
    <li>
        <span>{{listitem2}}</span>
        <div class="counter">{{listnumber2}}</div>
    </li>    <li>
        <span>{{listitem3}}</span>
        <div class="counter">{{listnumber3}}</div>
    </li>    <li>
        <span>{{listitem4}}</span>
        <div class="counter">{{listnumber4}}</div>
    </li>    <li>
        <span>{{listitem5}}</span>
        <div class="counter">{{listnumber5}}</div>
    </li>    <li>
        <span>{{listitem6}}</span>
        <div class="counter">{{listnumber6}}</div>
    </li>    <li>
        <span>{{listitem7}}</span>
        <div class="counter">{{listnumber7}}</div>
    </li>    <li>
        <span>{{listitem8}}</span>
        <div class="counter">{{listnumber8}}</div>
    </li>    <li>
        <span>{{listitem9}}</span>
        <div class="counter">{{listnumber9}}</div>
    </li>
    <li>
        <span>{{listitem10}}</span>
        <div class="counter">{{listnumber10}}</div>
    </li>
    <li>
        <span>{{listitem11}}</span>
        <div class="counter">{{listnumber11}}</div>
    </li>
    <li>
        <span>{{listitem12}}</span>
        <div class="counter">{{listnumber12}}</div>
    </li>
    <li>
        <span>{{listitem13}}</span>
        <div class="counter">{{listnumber13}}</div>
    </li>    
</ul>